<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ViT Prediction Result</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>
    <div class="new-navbar">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    <div class="new-prediction-content">
        <h1>Prediction Result</h1>
        <div>
            <p>{{ accuracy }}</p>
        </div>
    </div>
</body>
<footer class="site-footer">
    <p>&copy; Mini Project Three: Created and Tested By Chase Somers</p>
</footer>

</html>


